<div class="floating-btn-group floating-btn-group--inverted" (click)="clickOpenModal()">
  <div class="btn fa fa-globe js-localization"></div>
</div>
<div class="overlay js-localization-modal" [attr.aria-hidden]="isAriaHidden">
  <div class="modal">
    <div class="btn btn-close js-close" (click)="clickCloseModal()"><div class="fa fa-close"></div></div>
    <div style="width:50vw;max-width:100%;overflow:hidden;height:60vh;">
      <div id="gmap-canvas">
        <iframe
          style="height:100%;width:100%;border:0;"
          frameborder="0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBSXVSIegDwxmT3vc1AuiEUDRmunfjDP1w&q=Brooklyn+Bridge,New-York+NY&zoom=16">
        </iframe>
      </div><!-- AIzaSyCMZCsMSV5KhnOaKVGfxidaR60q6ZH6O9M-->
      <style>#gmap-canvas img{max-width:none!important;background:none!important;}</style>
    </div>
  </div>
</div>

<!-- GOOGLE MAPS -->
<script>
  function initMap() { var uluru = {lat: -25.363, lng: 131.044}; var map = new google.maps.Map(document.getElementById('map'), { zoom: 4, center: uluru }); var marker = new google.maps.Marker({ position: uluru, map: map }); }
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSXVSIegDwxmT3vc1AuiEUDRmunfjDP1w&callback=initMap"> </script>
