<div class="o-panel-content">
  <div class="c-list-item">
    <div class="c-list-item__title">
      <div class="u-fullWidth">Compte courant
        <div class="c-list-item__subtitle c-field c-field--left">
          <div class="c-field__label">N° de compte:</div>
          <div class="c-field__value">{{account.accountNumber}}</div>
        </div>
        <div class="chart c-list-item__content">
          <div class="js-d3-history"></div>
          <div class="c-heading c-field">
            <div class="field__label">Solde</div>
            <div class="u-blank c-field__value is-valid">{{account.balance}} {{account.currency}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-list-item c-field c-field--default" *ngFor="let operation of operations">
    <div class="c-field__label">
      <div class="c-ico fa fa-briefcase"></div>{{operation.type}}
    </div>
    <div class="c-field__value">{{operation.montant}}</div>
  </div>
</div>
