<div class="login">
    <div class="card z-axis--3">
        <div class="card__header">
            <h1>
                <svg class="c-logo" height="4em" viewBox="0 0 20 20" preserveAspectRatio="xMinYMid">
                    <use xlink:href="#logo"></use>
                </svg>
            </h1>
        </div>
        <div class="card__content">
            <div *ngIf="loginFailed">
                <h2 ng-style="{color: red}">Login ou mot de passe erroné</h2>
            </div>
            <form class="form" (submit)="login($event, username.value, password.value)">
                <div class="form__group is-invalid">
                    <div class="form__label">
                        <label>Username or Email</label>
                    </div>
                    <div class="form__field" data-error-msg="Username is required">
                        <input type="text" #username placeholder="username@login.org" />
                    </div>
                </div>
                <div class="form__group">
                    <label class="form__label">Password</label>
                    <div class="form__field" data-error-msg="Password is required">
                        <input #password type="password" value="mySecurePassword" />
                    </div>
                </div>
                <div class="card__footer">
                    <button type="submit" class="btn">Log me In!</button>
                </div>
            </form>
            <div class="form__group"><a class="form__label" href="#forgottenPassword">Mot de passe oublié ?</a>
                <div class="form__group" id="forgottenPassword">
                    <div class="form__label">Email</div>
                    <div class="form__field">
                        <input type="text" placeholder="username@login.org" />
                    </div><a class="btn" href="#">Reset my password</a>
                </div>
            </div>
        </div>
    </div>
</div>